
@{
    ViewData["Title"] = "User prefrences";
}
 Language:
    <select name="lang_pick">
        <option id="en">English</option>
    </select><br/>
    Font:
    <input name="font_pick" type="text"/><br/>
    Background color:
    <input name="bg_color" class="jscolor" value="ab2567"><br/>
    Text color:
    <input name="tx_color" class="jscolor" value="ab2567"><br/>
    High contrast:
    <input type="checkbox" name="high_contrast" value=""> <br/>
    Dots per inch:
    <input name="dpi" type="number"/>%<br/>
    Font size:
    <input name="font_size" type="number"/>%<br/>