
@{
    ViewData["Title"] = "Managment Interface";
}

    <header class="hed">
        <section id="sec2">
            <h6 style="font-weight: bold;text-decoration: underline;">Remove a guide</h6>
            <select class="custom-select" size="3" style="margin-bottom: -15px;">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <button type="button" class="btn btn-danger">Delete</button>
        </section>
        <section style="box-shadow: 10px 20px 10px gray; line-height: 100px;height: 60%;width: 60%;">
            <button type="button" class="btn btn-outline-dark">Boards report</button>
        </section>
    </header>
    <article>
        <div class="card text-center arc">
            <div class="card-header" style="font-weight: bold; text-decoration: underline;">
                Add a guide
            </div>
            <div class="card-body">
                <h5 class="card-title">Enter user information</h5>
                <div id="i1">
                    <input type="text" class="form-control" placeholder="Name">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <a href="#" class="btn btn-primary">Update</a>
            </div>
        </div>
    </article>


