@model BoardProject.Models.UserData

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UserData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BoardIDs" class="control-label"></label>
                <input asp-for="BoardIDs" class="form-control" />
                <span asp-validation-for="BoardIDs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeBoardID" class="control-label"></label>
                <input asp-for="HomeBoardID" class="form-control" />
                <span asp-validation-for="HomeBoardID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagedUsersIDs" class="control-label"></label>
                <input asp-for="ManagedUsersIDs" class="form-control" />
                <span asp-validation-for="ManagedUsersIDs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label"></label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordSalt" class="control-label"></label>
                <input asp-for="PasswordSalt" class="form-control" />
                <span asp-validation-for="PasswordSalt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPrimary" /> @Html.DisplayNameFor(model => model.IsPrimary)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsManager" /> @Html.DisplayNameFor(model => model.IsManager)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Font" class="control-label"></label>
                <input asp-for="Font" class="form-control" />
                <span asp-validation-for="Font" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FontSize" class="control-label"></label>
                <input asp-for="FontSize" class="form-control" />
                <span asp-validation-for="FontSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackgroundColor" class="control-label"></label>
                <input asp-for="BackgroundColor" class="form-control" />
                <span asp-validation-for="BackgroundColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextColor" class="control-label"></label>
                <input asp-for="TextColor" class="form-control" />
                <span asp-validation-for="TextColor" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HighContrast" /> @Html.DisplayNameFor(model => model.HighContrast)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DPI" class="control-label"></label>
                <input asp-for="DPI" class="form-control" />
                <span asp-validation-for="DPI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
