
@{
    ViewData["Title"] = "MainPageControllder";
}
    <!--<link rel="stylesheet" type="text/css" href="~/css/MainPage.css" />--> <!-- TODO: Integrate into main styling -->
    <div class="div1" style="background-color:rgb(113, 83, 224)">
        <select id="select1">
            <option value="nothing">NOTHING</option>
        </select>
        <button id="button2" type="button">+
        </button>
        <button id="setbutton" type="button">
            <img src="https://img.icons8.com/small/16/000000/gear.png">
        </button>

        <div id="div2" style="background-color:rgb(74, 190, 88)">
            <p>NAME BOARD</p>
        </div>
        <div id="button1">
            <button type="button">EXIT
                <img src="https://img.icons8.com/officel/16/000000/exit.png">
            </button>
        </div>
    </div>
