@inject Localizer locale
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="~/css/GuidanceStyle.css" />
        <title>עמוד הדרכה</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light d-flex justify-content-center">
                <div>
                    <span class="logo">דף הדרכה על האתר</span>
                </div>
            </nav>
        </header>
        <article dir="rtl">
            <h2 class="text-right t">על האתר שלנו :</h2>
            <br />
            <p class="text-right">
                האתר שלנו הוא מערכת אשר עוזרת לתקשורת עם אנשים בעלי מוגבלויות. <br />
                באתר שלנו ניתן להגדיר לוחות תקשורת וכמו כן ניתן לערוך לוחות תקשורת קיימים. <br />
                האתר שלנו ידידותי לכל משתמש , גם לבעל המוגבלות וגם לאדם המתקשר איתו. <br />
                באתר יש אפשרות לבחור העדפות לגבי צבעים , סוגי פרונט , גודל כתב ועוד... <br />
                האתר תומך ב-2 שפות עיקריות שהם עיברית ואנגלית.
            </p>
            <h2 class="text-right t">בעלי תפקידים באתר שלנו :</h2>
            <br />
            <ul type="circle" class="text-right">
                <li>מנהל מערכת - תפקידו של מנהל המערכת הוא להיות אחראי על כל הניהול השותף של המערכת בנוסף הוא אחרי גם על הרכזים.</li>
                <li>רכז - תפקידו של הרכז הוא לנהל תת קבוצה של משתמשים בתוך המערכת.</li>
                <li>משתמש רגיל - משתמש במערכת ללא הרשאות ניהול כלשהם.</li>
            </ul>
            <h2 class="text-right t">כפתורים עיקריים בעמוד הראשי :</h2>
            <br />
            <ul type="circle" class="text-right">
                <li>לוחות - תפריט בחירת לוחות</li>
                <li>"+" - כפתור הוספת לוח \ עריכת לוח</li>
                <li>"Home" - כפתור הוספת לוח</li>
                <li>"+A" - כפתור הגדלה של גופן</li>
                <li>"-A" - כפתור הגדלה של גופן</li>
                <li>ניהול - כפתור עבור מנהל מערכת \ רכז התחברות לפנאל ניהול</li>
                <li>צור קשר - כפתור ליצירת קשר עם המפתחים</li>
                <li>הגדרות - כפתור עריכת עדפות עבור לוח תקשורת נוכחי</li>
                <li>התנתקות - כפתור יציאה מהמערכת</li>
            </ul>
            <div class="text-center">
                <img src="~/images/help/menu_hebrew.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="text-center">
                <img src="~/images/Like1.gif" class="img-fluid" alt="Responsive image">
            </div>
            <a type="button" class="btn btn-outline-info" href="/home/">חזרה לדף הראשי -></a>
        </article>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
