@inject Localizer locale
@{
    ViewData["Title"] = locale["Guidance"];
    ViewData["CustomStyle"] = "/css/GuidanceStyle.css";
}

<!DOCTYPE html>
<html>
<body>
    <header>
        <nav class="navbar navbar-light bg-light d-flex justify-content-center">
            <div>
                <span class="logo">Guidance about our website</span>
            </div>
        </nav>
    </header>
</body>
</html>
