@inject Localizer locale
@{
    ViewData["Title"] = locale["Guidance"];
    ViewData["CustomStyle"] = "/css/GuidanceStyle.css";
}

<!DOCTYPE html>
<html>
<body>
    <header>
        <nav class="navbar navbar-light bg-light d-flex justify-content-center">
            <div>
                <span class="logo">Guidance about our website</span>
            </div>
        </nav>
    </header>
    <article dir="rtl">
        <h2 class="text-right">על האתר שלנו :</h2>
        <br />
        <p class="text-right">
            האתר שלנו הוא מערכת אשר עוזרת לתקשורת עם אנשים בעלי מוגבלויות. <br />
            באתר שלנו ניתן להגדיר לוחות תקשורת וכמו כן ניתן לערוך לוחות תקשורת קיימים. <br />
            האתר שלנו ידידותי לכל משתמש , גם לבעל המוגבלות וגם לאדם המתקשר איתו. <br />
            באתר יש אפשרות לבחור העדפות לגבי צבעים , סוגי פרונט , גודל כתב ועוד... <br />
            האתר תומך ב-2 שפות עיקריות שהם עיברית ואנגלית.
        </p>
        <h2 class="text-right">בעלי תפקידים באתר שלנו :</h2>
        <ul type="circle" class="text-right">
            <li>מנהל מערכת - תפקידו של מנהל המערכת הוא להיות אחראי על כל הניהול השותף של המערכת בנוסף הוא אחרי גם על הרכזים.</li>
            <li>רכז - תפקידו של הרכז הוא לנהל תת קבוצה של משתמשים בתוך המערכת.</li>
            <li>משתמש רגיל - משתמש במערכת ללא הרשאות ניהול כלשהם.</li>
        </ul>
</article>
</body>
</html>
