@{
    ViewData["Title"] = "DisplayTable";
    ViewData["align"] = "right";
    ViewData["dir"] = "rtl";
}


    <br>
    <form>
        שם: <input type="text" name="Name"><br>
    </form>
    <p style="font-size:160%;">
        צבע ורקע:<select>
            <option value="nothing">כלום</option>
        </select>
    </p>
    <p style="font-size:160%;">
        קטגוריות:<select>
            <option value="nothing">כלום</option>
        </select>
    </p>
    <p style="font-size:160%;">
        פעולות:<select>
            <option value="nothing">כלום</option>
        </select>
        <button>+</button>
    </p>
    <button>שמירה</button><button>מחק</button>

    <div style="position: absolute; width: 25%; top: 1%; right: 300pt">
        תצוגה מקדימה:<br />
        <div style="width: 200px; height: 200px; border: 2px solid black;">
        </div>
    </div>