
@{
    ViewData["Title"] = "adminLogin";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/MI/adminLoginStyle.css">
    <title>Login</title>
</head>
<body>
    <header><h1>Login</h1></header>
    <article>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Enter your user name" class="styleinput"> </br>
            <input type="password" name="password" placeholder="Enter your password" class="styleinput"> </br>
            <input type="submit" name="submit" value="Login" class="styleinput">
        </form>
    </article>
</body>
</html>

