@{
    ViewData["Title"] = "Login Page";
    ViewData["CustomStyle"] = "/css/AdminLoginStyle.css";
}

    <header><h1>Login</h1></header>
    <article>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Enter your user name" class="styleinput"> </br>
            <input type="password" name="password" placeholder="Enter your password" class="styleinput"> </br>
            <input type="submit" name="submit" value="Login" class="styleinput">
        </form>
    </article>
