body {

}
.logo {
    text-align: center;
    font-family: 'Bold Art';
    font-style: italic;
    font-size: 250%;
    text-decoration: underline;
    text-shadow: 2px 2px 2px #77B7FF;
}
.t{
    font-weight:bold;
    text-decoration:underline;
}

