
.div1 {
            width: 100%;
            height: 100px;
            position: absolute;
        }

        #div2 {
            right: 40%;
            position: absolute;
            top: 40px;
            width: 200px;
            text-align: center;
        }

        #button1 {
            top: 1.3%;
            right: 0.5%;
            position: absolute;
            margin: 40px 60px;
        }

        #select1 {
            color: rgb(8, 8, 8);
            padding: 15px 100px;
            text-align: center;
            font-size: 100%;
            margin: 40px 60px;
            width: 150px;
            height: 30px;
        }

        #button2 {
            font-size: 100%;
            height: 23px;
        }

        #setbutton {
            position: absolute;
            margin: 45px 60px;
            padding: 3px 7px;
        }